<%= form_for :trip, url: user_trips_path do |f| %>
  <%= f.hidden_field :user_id, value: @user.id %>

  <%= f.label :city, "Select City" %>
  <%= f.collection_select :city_id, City.order('name ASC'), :id, :city_country, :include_blank => true %>

  Or Add New City Below:<br><br>
  <%= f.fields_for :city_attributes do |city_attr| %>

    City Name:
    <%= city_attr.text_field :city %>

    Select Country:
    <%= city_attr.collection_select :country_id, Country.order('name ASC'), :id, :name, :include_blank => true %>
    Or Add New Country:
    <%= city_attr.text_field :country %><br><br>

  <% end %>

  <%= f.label :rating, "Rating (Scale of 1-5, where 5 = Best Trip Ever!)" %><br><br>
  <%= f.text_field :rating %><br><br>


  <%= f.label :fave_attraction, "Must See Attraction" %><br><br>
  <%= f.text_field :fave_attraction %><br><br>

  <%= f.label :comment, "Review" %><br><br>

  <%= f.text_area :comment, :size => "35x5" %><br><br>

  <%= f.submit %>
<% end %>

<% if @trip.errors.any? %>
  <div id="error_explanation">
    <h3>
      <%= pluralize(@trip.errors.count, "error") %>
      prohibited this trip from being added.
    </h3>
    <ul>
      <% @trip.errors.full_messages.each do |msg| %>
      <li><%= msg %>
        <% end %>
    </ul>
<% end %>
