<h1>Edit <%= @trip.city.name %> Trip</h1>

<%= form_for :trip, url: user_trip_path, :method => 'patch' do |f| %>

  <%= f.hidden_field :city_id %>

  <%= render partial: 'form', locals: { f: f} %>

<%= f.submit "Update Trip" %>
<% end %>
