<div class="form">
  <h3>Edit Trip</h3><br>
    <%= form_for([@user, @trip]) do |f| %>
      <%= f.hidden_field :user_id, value: @user.id %>

      <%= f.hidden_field :city_id %>
      <%= f.label :city %>
      <%= f.text_field :city, value: @trip.city.name, readonly: true %><br><br>

        <%= f.label :rating, "Rating (Scale of 1-5)" %>
        <%= f.text_field :rating %><br><br>

        <%= f.label :fave_attraction, "Must See Attraction" %>
        <%= f.text_field :fave_attraction %><br><br>

        <%= f.label :comment, "Share Additional Details" %><br><br>
        <%= f.text_area :comment, :size => "35x5" %><br><br>

      <%= f.submit "Update Trip", :class => 'btn btn-sm btn-success auto' %>
    <% end %>
</div>
