<div class="table-container">
  <h4 class="align-table"><%= @user.name %>'s Trips</h4>
  <table>
    <thead>
      <tr>
        <th>City</th>
        <th>Rating</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @trips.each do |trip| %>
      <tr class="border-bottom">
        <td class="no-underline"><%= link_to trip.city.name, user_trip_path(@user, trip) %></td>
        <td><%= trip.rating %></td>

        <% if @user == current_user %>

          <td class="index-buttons"><%= link_to "Edit", edit_user_trip_url(@user, trip), :method => 'get', :class => 'btn btn-sm btn-outline-primary color-fix' %></td>
          <td class="index-buttons"><%= link_to "Delete", user_trip_path(@user, trip), :method => 'delete', data: { confirm: "Are you sure?" }, :class => 'btn btn-sm btn-outline-secondary color-fix' %></td>

        <% else %>
          <td> </td>
          <td> </td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <span class="index-buttons align-table"><%= link_to "Add New Trip", new_user_trip_url(@user), :class => 'btn btn-sm btn-info color-fix' %></span>
</div>
