<h4 class="align-table"><%= @user.name %>'s Trips</h4>
<% @trips.each do |trip| %>
  <p><%= link_to trip.city.name, user_trip_path(@user, trip) %></p>
  <div id="trip-<%= trip.id %>"><%= truncate(trip.comment) %></div>
  <button class="js-more" data-id="<%= trip.id %>">Read More</button>
  <ul id="trip-<%= trip.id %>-">
  </ul>
<% end %>

<script type="text/javascript" charset="utf-8">
$(function() {
  $(".js-more").on("click", function() {
    var id = $(this).data("id");
    $.get("trips/" + id + ".json", function(data) {
      var trip = data;
      var reviewText = "<p>" + trip["comment"] + "</p>";
      $("#trip-" + id).html(reviewText);
    })
  })
})
</script>

<br>
<div class="button-below-table">
  <% if @user == current_user %>
    <%= link_to "Add New Trip", new_user_trip_url(@user), :class => 'btn btn-sm btn-primary btn-rounded' %>
  <% end %>
</div>
