<div class="info-box med-box">
  <h4 class="box-heading"><%= @user.name %>'s <%= @trip.city.name %> Trip</h4>
  <p><span class="bold-text">Rating: </span><%= @trip.rating %></p>
  <p><span class="bold-text">Must See Attraction: </span><%= @trip.fave_attraction %></p>
  <p><span class="bold-text">Review: </span><%= @trip.comment %></p><br>

  <% if @user == current_user %>
    <%= link_to "Edit Trip", edit_user_trip_url, :class => 'btn btn-sm btn-primary btn-rounded' %>
    <%= link_to "Delete Trip", user_trip_path, :method => 'delete', data: { confirm: "Are you sure you?" }, :class => 'btn btn-sm btn-secondary btn-rounded' %>
  <% end %>
</div>
