


<a href="#" class="js-next" data-id="<%=@trip.id%>">Next Trip</a>
<h1 class="tripCity"><%= @trip.city.name %></h1>
<p class="tripRating"><%= @trip.rating %></p>
<p class="tripMustSee"><%= @trip.fave_attraction %></p>
<p class="tripReview"><%= @trip.comment %></p>

<script type="text/javascript" charset="utf-8">
$(function () {
  $(".js-next").on("click", function() {
    var nextId = parseInt($(".js-next").attr("data-id")) + 1;
    $.get("/trips/" + nextId + ".json", function(data) {
      var trip = data;
      $(".tripCity").text(trip["city"]["name"]);
      $(".tripRating").text(trip["rating"]);
      $(".tripMustSee").text(trip["fave_attraction"]);
      $(".tripReview").text(trip["comment"]);
      // re-set the id to current on the link
      $(".js-next").attr("data-id", trip["id"]);
    });
  });
});
</script>
