<div class="page-container prev-next">
  <a href="#" class="js-previous-trip" data-user-id="<%= @user.id %>" data-trip-id="<%= @trip.id %>">Back</a>
  <a href="#" class="js-next-trip" data-user-id="<%= @user.id %>" data-trip-id="<%= @trip.id %>">Next</a>

  <h3><span class="tripCity"><%= @trip.city.city_plus_country %></span></h3>
  <p><span class="bold-text">Rating: </span><span class="tripRating"><%= @trip.rating %></span></p>
  <p><span class="bold-text">Must See Attraction: </span><span class="tripMustSee"><%= @trip.fave_attraction %></span></p>
  <p><span class="bold-text">Review: </span><span class="tripReview"><%= @trip.comment %></span></p><br>

  <% if @user == current_user %>
    <%= link_to "Edit Trip", edit_user_trip_url, :class => 'btn btn-sm btn-primary btn-rounded' %>
    <%= link_to "Delete Trip", user_trip_path, :method => 'delete', data: { confirm: "Are you sure?" }, :class => 'btn btn-sm btn-secondary btn-rounded' %>
  <% end %>

</div>
