<h1><%= @user.name %>'s <%= @trip.city.name %> Trip</h1>
Rating: <%= @trip.rating %><br><br>
Must See Attraction: <%= @trip.fave_attraction %><br><br>
Review: <%= @trip.comment %><br><br>

<% if @user == current_user %>
  <%= link_to "Edit Trip", edit_user_trip_url %>
<% end %>
