<div class="start-pages signup-login">
  <h4 class="blue-bold">Log In to TripTracker</h4><br>
  <%= form_for :user do |f| %>
    <%= f.email_field :email, placeholder: "Email", :size => 30 %><br><br>
    <%= f.password_field :password, placeholder: "Password", :size => 30 %><br><br>
    <%= f.submit "Continue with Email", :class => 'btn btn-block btn-success' %><br>
  <% end %>
  <%= link_to "Log In with Facebook", '/auth/facebook', :class => 'btn btn-block btn-primary start-button' %>
</div>
