<div class="list-details">
  <h4>Travelers</h4>
  <p class="blue-bold"><%= @top_traveler.name %> is the most active traveler with <%= @top_traveler.trip_count %> trips!</p>
  <% @users.each do |user| %>
    <div class="review-box">
      <span class="no-underline bold-text"><%= link_to user.name, user_trips_path(user) %> </span><br>
      <%= pluralize(user.trip_count, "trip") %><br>
      Last Trip Added - <%= user.last_trip.city.name %>
    </div>
  <% end %>
</div>
