<div class="start-pages signup-login">
  <h4>Sign Up for TripTracker!</h4><br>

    <%= form_for @user do |f| %>
      <%= f.text_field :email, placeholder: "Email", :size => 40 %><br><br>
      <%= f.text_field :name, placeholder: "Username", :size => 40 %><br><br>
      <%= f.password_field :password, placeholder: "Password", :size => 40 %><br><br>
      <%= f.submit "Create Account", :class => 'btn btn-block btn-success' %>
    <% end %>

    <div class="user-errors">
      <% if @user.errors.any? %>
        <div id="error_explanation">
            <% @user.errors.full_messages.each do |msg| %>
              <%= msg %><br>
            <% end %>
        </div>
      <% end %>
    </div>

</div>
