<div class="start-pages signup-form">
  <h4>Sign Up</h4><br>
    <%= form_for @user do |f| %>
      <%= f.text_field :email, placeholder: "email" %>
      <%= f.text_field :name, placeholder: "username" %>
      <%= f.password_field :password, placeholder: "password" %><br><br>
      <%= f.submit "Create Account", :class => 'btn btn-sm btn-success auto' %>
    <% end %>

    <div class="user-errors">
      <% if @user.errors.any? %>
        <div id="error_explanation">
            <p><%= pluralize(@user.errors.count, "error") %> prohibited this account from being created:</p>
          <ul>
            <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
</div>
