<h1>Sign Up</h1>
<%= form_for :user, url: '/users' do |f| %>

  <%= f.text_field :email, placeholder: "email" %></br>
  <%= f.text_field :name, placeholder: "username" %><br>
  <%= f.password_field :password, placeholder: "password" %>

  <%= f.submit, "Create Account" %>
<% end %>
