<div class="start-pages signup-login">
  <h4 class="blue-bold">Sign Up for TripTracker!</h4><br>
    <%= form_for @user do |f| %>
      <%= f.text_field :email, placeholder: "Email", :size => 30 %>
      <%= f.text_field :name, placeholder: "Username", :size => 30 %>
      <%= f.password_field :password, placeholder: "Password", :size => 30 %><br><br>
      <%= f.submit "Create Account", :class => 'btn btn-block btn-success' %>
    <% end %>

    <div class="user-errors">
      <% if @user.errors.any? %>
        <div id="error_explanation">
            <p><%= pluralize(@user.errors.count, "error") %> prohibited this account from being created:</p>
          <ul>
            <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>

</div>
