<div class="start-pages">
<h3>Sign Up</h3>

  <%= form_for @user do |f| %>
    <%= f.text_field :email, placeholder: "email" %></br>
    <%= f.text_field :name, placeholder: "username" %><br>
    <%= f.password_field :password, placeholder: "password" %><br>
    <%= f.submit "Create Account" %>
  <% end %>

  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h3>
        <%= pluralize(@user.errors.count, "error") %> prohibited this account from being created.</h3>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
