<div class="list-details">
  <h2><%= @country.name %></h2>

  Total Trips: <%= @country.trips.count %><br><br>
  Total Cities Reviewed: <%= @country.cities.count %><br>



    <% @country.cities.each do |city| %>
    <div class="review-box">
      <p class="no-underline bold-text"><%= link_to city.name, city_path(city) %></p>
      <p><%= pluralize(city.users.count, "traveler") %></p>
      <p>Last reviewed by <%= city.users.last.name %></p>
    </div>
  <% end %>
</div>
