<div class="page-container prev-next">
  <% if Country.all.order(:name).first.id == @country.id %>
    <a href="#" class="js-previous-country" style="display:none;" data-country-id="<%= @country.id %>">&laquo; Previous</a>
  <% else %>
    <a href="#" class="js-previous-country" data-country-id="<%= @country.id %>">&laquo; Previous</a>
  <% end %>

  <% if Country.all.order(:name).last.id == @country.id %>
    <a href="#" class="js-next-country" style="display:none;" data-country-id="<%= @country.id %>">Next &raquo;</a>
  <% else %>
    <a href="#" class="js-next-country" data-country-id="<%= @country.id %>">Next &raquo;</a>
  <% end %>

  <h3 class="countryName"><%= @country.name %></h3>
  <p><span class="bold-text">Total Cities: </span><span class="countryCityCount"><%= @country.cities.count %></span></p>

  <a href="#" class="js-display-cities" data-country-id="<%= @country.id %>">Show Cities</a><br><br>
  <div id="js-country-cities"></div>
</div>
