<h4>Explore Cities</h4>
<span><%= link_to "Check Out the Most Reviewed City", most_visited_url %></span><br>
<span><%= link_to "View Our Highest Rated Cities", highly_rated_url %></span><br><br>

<% @cities.each do |city| %>
  <p><%= link_to city.city_plus_country, city_path(city) %></p>
  <div id="city-<%= city.id %>"><%= truncate(city.city_info) %></div>
  <button class="js-more" data-id="<%= city.id %>">Read More</button>
  <ul id="city-<%= city.id %>-">
  </ul>
<% end %>




<div class="button-below-table">
  <%= link_to "Add New City", new_city_url, :class => 'btn btn-sm btn-primary btn-rounded' %>
</div>
