<div class="table-container">
  <h4 class="align-table">Explore Cities</h4>
  <span class="align-table"><%= link_to "Check Out the Most Reviewed City", most_visited_url %></span><br>
  <span class="align-table"><%= link_to "View Our Highest Rated Cities", highly_rated_url %></span><br><br>
  <table>
    <thead>
      <tr>
        <th>City</th>
        <th>Total Trips</th>
        <th>Average Rating</th>
      </tr>
    </thead>
    <tbody>
      <% @cities.each do |city| %>
      <tr class="border-bottom">
        <td class="no-underline" id="city-<%= city.id %>"><%= link_to city.city_plus_country, city_path(city) %></td>
        <td><%= city.trip_count %></td>
        <td><%= city.avg_rating %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <div class="button-below-table">
    <%= link_to "Add New City", new_city_url, :class => 'btn btn-sm btn-primary btn-rounded' %>
  </div>
</div>
