<div class="form">
  <h3>Add New City</h3><br>

  <%= form_for @city do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %><br><br>

    <%= f.label :country, "Select Country" %>
    <%= f.collection_select :country_id, Country.order('name ASC'), :id, :name, :include_blank => true %>

    <%= f.fields_for :country_name do |ctry_name| %>
      <%= f.label :country, "Or Add New Country" %>
      <%= ctry_name.text_field :country %><br><br>
      <% end %>

    <div class="form-errors">
      <% if @city.errors.any? %>
        <div id="error_explanation">
          <p><%= pluralize(@city.errors.count, "error") %> prohibited this city from being created:</p>
          <ul>
            <% @city.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
    <%= f.submit "Add City", :class => 'btn btn-sm btn-success' %>
  <% end %>
</div>
