<div class="test">
<h1 class="cityName"><%= @city.name %></h1>
<h1 class="countryName"><%= @city.country.name %></h1>
<p class="cityTripCount">Total Trips: <%= @city.trip_count %></p>
<p class="cityAvgRating">Average Rating: <%= @city.avg_rating %></p>
<a href="#" class="js-previous-city" data-city-id="<%= @city.id %>">Previous City</a>
<a href="#" class="js-next-city" data-city-id="<%= @city.id %>">Next City</a>

  <% if !Trip.exists?(user_id: current_user.id, city_id: @city.id) %>
    <%= link_to "Been to #{@city.name}? Add it to your trips!", new_user_trip_path(:user_id => current_user.id, :city_id => @city.id) %>
  <% end %>

</test>
