<div class="list-details">
  <h4><%= @city.name %></h4>
  <span class="bold-text">Average Rating: </span><%= @city.avg_rating %><br>
  <span class="bold-text">Total Reviews: </span><%= @city.trips.count %>

  <% @city.trips.each do |trip| %>
  <div class="review-box">
    <%= trip.comment %>
    <p><%= trip.user.name %> (<%= trip.rating %> stars)</p>
  </div>
  <% end %>

</div>

<%= link_to "Add a Review", new_user_trip_path(:user_id, :city_id => @city.id) %>
