<h1><%= @city.name %></h1>
<h4>Total Reviews: <%= @city.trips.count %></h4>
<h4>Average Rating: <%= @city.avg_rating %></h4>

<% @city.trips.each do |trip| %>
<div class="review-box">
  <%= trip.comment %>
  <p><%= trip.user.name %> (<%= trip.rating %> stars)</p>
</div>
<% end %>
