<h1 class="cityName"><%= @city.name %></h1>
<p class="cityTripCount">Total Trips: <%= @city.trip_count %></p>
<p class="cityAvgRating">Average Rating: <%= @city.avg_rating %></p>
<a href="#" class="next-city" data-city-id="<%= @city.id %>">Next City</a>

<script type="text/javascript" charset="utf-8">
$(function() {
  $(".next-city").on("click", function(e) {
    e.preventDefault()
    let cityId = parseInt($(".next-city").attr("data-city-id"))
    let nextCityId = getNextCity()
    $.get(`/cities/${nextCityId}.json`, function(resp) {
      let city = new City(resp)
      city.displayNextCity()
    })
  })
})
</script>


  <% if !Trip.exists?(user_id: current_user.id, city_id: @city.id) %>
    <%= link_to "Been to #{@city.name}? Add it to your trips!", new_user_trip_path(:user_id => current_user.id, :city_id => @city.id) %>
  <% end %>
</div>
