<!DOCTYPE html>
<html>
  <head>
    <title>RailsTravelApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">

  </head>

  <body>

    <div class="topnav">
      <%= render '/layouts/header' %>
    </div>

    <%= content_tag(:div, flash[:danger], :id => "flash_danger") if flash[:danger] %>
    <%= content_tag(:div, flash[:success], :id => "flash_success") if flash[:success] %>

    <%= yield %>
  </body>
</html>
