<!DOCTYPE html>
<html>
  <head>
    <title>RailsTravelApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="topnav">
      <li><%= link_to("Home", user_path(@user)) %></li>
      <li><%= link_to("My Trips", user_trips_path(@user)) %></li>
      <li><%= link_to("Destinations", cities_path) %></li>
      <li><%= link_to("Travelers", users_path) %></li>
      <li><%= link_to("Log Out", logout_path) %></li>
    </div>

    <%= yield %>
  </body>
</html>
