<!DOCTYPE html>
<html>
  <head>
    <title>RailsTravelApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="topnav">
      <a class="active" href="#">Home</a>
      <a href="#">My Trips</a>
      <a href="#">Destinations</a>
      <a href="#">Travelers</a>
      <a href="#">Logout</a>
    </div>

    <%= yield %>
  </body>
</html>
