<!DOCTYPE html>
<html>
  <head>
    <title>RailsTravelApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">

  </head>

  <body>

    <div class="topnav">
      <%= render '/layouts/header' %>
    </div>

    <%= yield %>
  </body>
</html>
